<div class="col-sm-12">
  <hr>
  <ngb-tabset type="pills">
    <ngb-tab title="EXTERIOR" class="mb-3">
      <ng-template ngbTabContent>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
        <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-externo.jfif">
      </div>
      <div class="col-md-6">
        <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-parq.jpg">
      </div>
    </div>
  </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="INTERIOR">
      <ng-template ngbTabContent>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-piscina.jfif">
            </div>
            <div class="col-md-6">
              <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-salao.jfif">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="QUARTOS">
      <ng-template ngbTabContent>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-quarto.jfif">
            </div>
            <div class="col-md-6">
              <img style="width: 550px; height: 500px;" src="./../../../../assets/images/fotos/chacara-quarto2.jfif">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
