<div class="col-xl-12">
  <app-card cardTitle="Lista de reservas" [options]="false" blockClass="table-border-style">
    <div class="buttonadd">
      <button type="button" class="btn btn-icon btn-rounded btn-success"><i class="feather icon-plus-square" [routerLink]="['/cadastra-reserva']"></i></button>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Cliente</th>
          <th>Celular</th>
          <th>CPF</th>
          <th>Evento</th>
          <th>Nº Convidados</th>
          <th>Data</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-icon btn-rounded btn-danger"><i class="feather icon-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
