<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6">
        <ngb-accordion [closeOthers]="true" class="datta-accordion">
          <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
              <a href="javascript:">Localização</a>
            </ng-template>
            <ng-template ngbPanelContent>
              <h3>Cuiabá - MT</h3>
              <h4>Jardim Universitário</h4>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-4">
            <ng-template ngbPanelTitle>
              <a href="javascript:">Inclusos na locação</a>
            </ng-template>
            <ng-template ngbPanelContent>
              <h3>Inclusos sem custo adicional</h3>
              <p>Churrasqueira</p>
              <p>Freezer</p>
              <p>Piscina infantil/adulta</p>
              <p>Cozinha</p>
              <p>Geladeira e fogão industrial</p>
              <p>Banheiros</p>
              <p>Estacionamento interno</p>
              <p>10 jogos de mesas/cadeiras</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-5">
            <ng-template ngbPanelTitle>
              <a href="javascript:">Itens adicionais*</a>
            </ng-template>
            <ng-template ngbPanelContent>
              <h3>Itens com custo extra</h3>
              <p>Gás de cozinha</p>
              <p>Quartos para dormir</p>
              <p>+ jogos de mesas/cadeiras</p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-md-6">
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="datta-accordion">
          <ngb-panel id="static-3">
            <ng-template ngbPanelTitle>
              <a href="javascript:">Regras</a>
            </ng-template>
            <ng-template ngbPanelContent>
              <h3>Medidas para segurança e bem estar de ambas as partes</h3>
              <p>Não exceder o limite de convidados declarado em contrato</p>
              <p>Diminuir o volume do som após as 23h de acordo com as leis municipais</p>
              <p>Não permitir a proximidade de crianças no canil</p>
              <p>Não usar cola quente na parede</p>
              <p>Evitar entrar na piscina com bebidas ou alimentos</p>
              <p>Tomar ducha antes de entrar na piscina</p>
              <p>Não mecher no padrão de energia, exceto se houver alguma queda de energia</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
              <a href="javascript:">Proibições</a>
            </ng-template>
            <ng-template ngbPanelContent>
              <h3>É proibido</h3>
              <p>Eventos do tipo rave/funk</p>
              <p>Eventos sem maior de idade responsável</p>
              <p>Uso de bebidas alcoólicas por menores de idade</p>
              <h3>Passível de cancelamento</h3>
              <p>Denúncia por uso de entorpecentes</p>
              <p>Quantidade de pessoas acima do declarado em contrato</p>
              <p>Brigas generalizadas</p>
              <p>Porte de arma de fogo</p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
