<div class="navbar-brand header-logo">
  <a [routerLink]="['/dashboard/default/']" class="b-brand">
    <div class="b-bg">
      <img style="width: 40px;" src="./../../../../../../assets/images/chacara-fotos/chacara-dashboard.jpg">
    </div>
    <span class="b-title" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Chácara 7 Anões</span>
  </a>
  <a href="javascript:" class="mobile-menu" [ngClass]="{'on' : navCollapsed}" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
